<div class="page-sm">
    <div class="page-sm-content settings-page">

        <mat-accordion class="settings-page-panel" multi>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Настройки Twitter</mat-panel-title>
            </mat-expansion-panel-header>

            <twitter-form></twitter-form>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Аккаунты Binance Futures</mat-panel-title>
            </mat-expansion-panel-header>

            <bnns-settings-component></bnns-settings-component>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Данные пользователя</mat-panel-title>
            </mat-expansion-panel-header>

            <user-settings-component></user-settings-component>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Данные SMTP сервера</mat-panel-title>
            </mat-expansion-panel-header>

            <emailsmtpdata></emailsmtpdata>

          </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>
